<div class="row">
    <div class="clearfix" style="padding-bottom: 5%"></div>
    <div class="col-md-8 col-sm-8 col-xs-8 col-xs-offset-2 col-md-offset-2 col-sm-offset-2 bg-white">

        <div class='col-md-12 col-sm-12 col-xs-12' style='margin-top: 9px;'>
            <button type="button" ng-click='back()' class="btn btn-default btn-sm pull-right" style='border-radius: 15px;'>
                <span class="fa fa-chevron-circle-left"></span> Back
            </button>
        </div>

        <hr />
        <div class="panel panel-default">
            <div class="panel-heading" style="color: #73879C;background: #fff;">
                <h3>{{title}} <small></small></h3>
            </div>
            <div class="panel-body">

                <div class="alert alert-info" ng-if='updateMessage' style='background-color:rgb(63, 193, 165);'>
                    <strong>{{successMsg}}</strong>
                </div>

                <form name="createForm" ng-submit="submitForm(createForm.$valid)" novalidate>
                    <div class="form-group row" ng-class="{ 'has-error' : (createForm.name.$invalid && !createForm.name.$pristine && createForm.name.$error.required) || (createForm.name.$touched && createForm.name.$invalid  && createForm.name.$error.required) }">
                        <div class='col-sm-3'><label class="pull-right">Name<sup>*</sup></label></div>
                        <div class='col-sm-9'>
                            <input type="text" name="name" class="form-control" ng-model="name" required>
                            <p ng-show="(createForm.name.$dirty && createForm.name.$invalid && !createForm.name.$pristine && createForm.name.$error.required) || (createForm.name.$touched && createForm.name.$invalid  && createForm.name.$error.required)"
                                class="help-block">name is required.</p>
                        </div>
                    </div>

                    <div class="form-group row" ng-class="{ 'has-error' : (createForm.category.$invalid && !createForm.category.$pristine && createForm.category.$error.required) || (createForm.category.$touched && createForm.category.$invalid  && createForm.category.$error.required) }">
                        <div class='col-sm-3'><label class="pull-right">Category<sup>*</sup></label></div>
                        <div class='col-sm-9'>
                            <input type="text" name="category" class="form-control" ng-model="category" required>
                            <p ng-show="(createForm.category.$invalid && !createForm.category.$pristine && createForm.category.$error.required) || (createForm.category.$touched && createForm.category.$invalid  && createForm.category.$error.required)"
                                class="help-block">category is required.</p>
                        </div>
                    </div>

                    <div class="form-group row" ng-class="{ 'has-error' : (createForm.price.$invalid && !createForm.price.$pristine && createForm.price.$error.required) ||  (createForm.price.$touched && createForm.price.$invalid  && createForm.price.$error.required)  }">
                        <div class='col-sm-3'><label class="pull-right">Price<sup>*</sup></label></div>
                        <div class='col-sm-9'>
                            <input type="number" ng-pattern="onlynumbers" name="price" class="form-control" ng-model="price" required>
                            <p ng-show="(createForm.price.$invalid && !createForm.price.$pristine && createForm.price.$error.required ) ||  (createForm.price.$touched && createForm.price.$invalid  && createForm.price.$error.required)"
                                class="help-block">price is required.</p>
                        </div>
                    </div>

                    <div class="form-group row" ng-class="{ 'has-error' : (createForm.description.$invalid && !createForm.description.$pristine && createForm.description.$error.required) || (createForm.description.$touched && createForm.description.$invalid  && createForm.description.$error.required) }">
                        <div class='col-sm-3'><label class="pull-right">Description<sup>*</sup></label></div>
                        <div class='col-sm-9'>
                            <input type="text" name="description" class="form-control" ng-model="description" required>
                            <p ng-show="(createForm.description.$invalid && !createForm.description.$pristine && createForm.description.$error.required)|| (createForm.description.$touched && createForm.description.$invalid  && createForm.description.$error.required)"
                                class="help-block">description is required.</p>
                        </div>
                    </div>
                    <div class="panel-footer" style="background: #fff;">
                        <button type="reset" ng-click='cancel(createForm);' class="btn btn-danger col-sm-offset-2">Cancel</button>
                        <button type="submit" class="btn btn-success" ng-disabled='createForm.$invalid'>Submit</button>
                        <div>
                </form>
                </div>

                </div>
                <!--
    Create your Add and Edit Forms here.
    Validate the form fields in angular
    Show validation errors under each of the fields in realtime
    Enable the submit/update button only if the form data is valid 
    -->

            </div>
        </div>
        <div class="clearfix"></div>